<div class="float-right">
    <span class="demo-close" mat-dialog-close>
        <nb-icon icon="close-outline"></nb-icon>
    </span>

</div>
<h2 mat-dialog-title>
    <nb-icon icon="person-outline"></nb-icon> {{title}}
</h2>
<mat-dialog-content class="mat-typography" [nbSpinner]="loading">
    <div class="row">
        <div class="col-md-4">
            <mat-form-field class="example-full-width">
                <mat-label>Nombre Usuario</mat-label>
                <input matInput name="username" [(ngModel)]="userContentForm.username" required>
                <mat-error *ngIf="!userContentForm.username">Ingrese nombre de usuario</mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-8">
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput name="email" [(ngModel)]="userContentForm.email" required>
                <mat-error *ngIf="!userContentForm.email">Ingrese email</mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field class="example-full-width">
                <mat-label>Nombres</mat-label>
                <input matInput name="firstname" [(ngModel)]="userContentForm.firstName" required>
                <mat-error *ngIf="!userContentForm.firstName">Ingrese nombre</mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <mat-label>Primer Apellido</mat-label>
                <input matInput name="lastname" [(ngModel)]="userContentForm.lastName" required>
                <mat-error *ngIf="!userContentForm.lastName">Ingrese primer apellido</mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <mat-label>Segundo Apellido</mat-label>
                <input matInput name="secondsurname" [(ngModel)]="userContentForm.secondSurname">
            </mat-form-field>
        </div>
        <div class="col-md-6" *ngIf="isNewUser">
            <mat-form-field class="example-full-width">
                <mat-label>Contraseña</mat-label>
                <input matInput name="password" type="password" [(ngModel)]="userContentForm.password" required>

                <mat-error *ngIf="!userContentForm.password">Ingrese contraseña</mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-6" *ngIf="isNewUser">
            <mat-form-field class="example-full-width">
                <mat-label>Confirmar Contraseña</mat-label>
                <input matInput name="password" type="password" [(ngModel)]="passwordRepeat" required>

                <mat-error *ngIf="!passwordRepeat">Confirme contraseña</mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-12">

            <ng-template #statusEnabled>
                <mat-slide-toggle class="float-right" [(ngModel)]="userContentForm.status"
                    [ngModelOptions]="{standalone: true}"> {{userContentForm.status? 'Activo':'Inactivo'}}
                </mat-slide-toggle>
            </ng-template>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <div *ngIf="!userContentForm.status">
        <swal #deactUser title="Desactivar {{ userContentForm.username }}?"
            [swalOptions]="{ confirmButtonText: 'Aceptar',cancelButtonText: 'Cancelar' }"
            text="El usuario {{ userContentForm.username }} quedará desactivado. Está seguro?  " icon="question"
            [showCancelButton]="true" [focusCancel]="true" (confirm)="manageUser()">
        </swal>
        <button mat-button color="accent" [swal]="deactUser">{{buttonTitle}}</button>
    </div>
    <div *ngIf="userContentForm.status"> <button mat-button color="accent"
            (click)="manageUser()">{{buttonTitle}}</button></div>

</mat-dialog-actions>