::ng-deep nb-auth nb-card-header {
    display: none !important;
}

::ng-deep nb-auth nb-card-body {
    background-image: url('../../../assets/images/background.jpg');
    background-size: cover;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
