table {
    width: 100%;
  }
  
   button {
    margin: 16px 8px;
   }
//   .mat-row {
//     height: auto;
//   }
  
   .mat-cell {
  
     flex:20%;
   }
  
   .mat-dialog-actions {
    display: flex;
    align-items: center;
    justify-content:flex-end ;
}


 .full-width {
 	width: 100%;
 }
 .empty-center {
    text-align: center;
    border: white;
    margin-top: 70px;
}
.empty {
    font-size: 10rem;
    color: #f1f1f1;
}

.empty-center p {
    color: #ddd;
}


 .mat-table {
 	overflow: visible;

 }

 .type-number {
  	width: 15%;
  }

  .mat-column-alumnFullName{
    text-align: left;
  // width: 25% !important;
   flex:20%;
    }
    .mat-column-N1{
      text-align: center;
    // width: 25% !important;
     flex:20%;
      }
      .mat-column-N2{
        text-align: center;
        padding: 50px 8px 8px 0;
       flex:20%;
        }
        .mat-column-N3{
          text-align: center;

        // width: 25% !important;
         flex:20%;
          }
          .mat-column-N4{
            text-align: center;
          // width: 25% !important;
           flex:20%;
            }
            .mat-column-N5{
              text-align: center;
              padding: 50px 8px 8px 0;
            // width: 25% !important;
             flex:20%;
              }
              .mat-column-N6{
                text-align: center;
              // width: 25% !important;
               flex:20%;
                }
                .mat-column-N7{
                  text-align: center;
                // width: 25% !important;
                 flex:20%;
                  } 
                  .mat-column-N8{
                    text-align: center;
                  // width: 25% !important;
                   flex:20%;
                    }  .mat-column-N9{
                      text-align: center;
                    // width: 25% !important;
                     flex:20%;
                      }  .mat-column-N10{
                        text-align: center;
                      // width: 25% !important;
                       flex:20%;
                        }  .mat-column-N11{
                          text-align: center;
                        // width: 25% !important;
                         flex:20%;
                          }  .mat-column-N12{
                            text-align: center;
                          // width: 25% !important;
                           flex:20%;
                            }  .mat-column-N13{
                              text-align: center;
                            // width: 25% !important;
                             flex:20%;
                              }  .mat-column-N1{
                                text-align: center;
                              // width: 25% !important;
                               flex:20%;
                                }  .mat-column-N15{
                                  text-align: center;
                                // width: 25% !important;
                                 flex:20%;
                                  } 

.actions-icon {
	font-size: 1.5em;
	color: #cccccc;
	margin-right: 6px;
	&:hover {
		color: #6200ee;
		cursor: pointer;
	}
}





.pointer {
	cursor: pointer;
}
