@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    max-width: 1000px;
    max-height: 500px;
  }
}

.example-full-width {
  width: 100%;
}
.mat-dialog-actions {
  display: flex;
  align-items: center;
  justify-content:flex-end ;
}


::ng-deep {
  .custom-modalbox > mat-dialog-container {
    background: rgb(255, 255, 255) !important;
    background: linear-gradient(356deg, rgba(255, 255, 255, 1) 35%, rgba(239, 239, 239, 1) 100%) !important;
    border-top-style: solid;
    border-top-width: 0.25rem;
    border-top-color: #6200ee;
  }

  mat-dialog-content {
    background: white !important;
    padding: 20px 24px !important;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #dcdcdc;
  }

  .custom-modalbox > mat-dialog-container .demo-close {
    margin-left: 0.4em;
    color: #bbbbbb;
  }

  .custom-modalbox > mat-dialog-container .demo-close:hover nb-icon {
    color: #d7d0de;
  }

  .custom-modalbox > mat-dialog-container .demo-close nb-icon {
    font-size: 2em;
  }
}
