<div class="float-right">
    <span class="demo-close" mat-dialog-close>
        <nb-icon icon="close-outline"></nb-icon>
    </span>

</div>
<h2 mat-dialog-title>
    <nb-icon icon="unlock-outline"></nb-icon> {{title}}
</h2>
<mat-dialog-content class="mat-typography" [nbSpinner]="loading">
    <div class="row">
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <mat-label>Nueva Contraseña</mat-label>
                <input matInput name="password" type="password" [(ngModel)]="userContentForm.password"
                    [ngModelOptions]="{standalone: true}" required>
                <mat-error *ngIf="!userContentForm.password">Ingrese Contraseña</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Confirmar Contraseña</mat-label>
                <input matInput name="password" type="password" [(ngModel)]="passwordRepeat"
                    [ngModelOptions]="{standalone: true}" required>
                <mat-error *ngIf="!userContentForm.password">Confirme Contraseña</mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <table>
                <tr>
                    <td><i class="nb-person format-icon"></i></td>
                    <td><small class="format-txt">&nbsp;&nbsp;{{userContentForm.username}}</small></td>
                </tr>
                <tr>
                    <td><i class="nb-list format-icon"></i></td>
                    <td><small class="format-txt">&nbsp;&nbsp;{{userContentForm.firstName}} {{userContentForm.lastName}}
                            {{userContentForm.secondSurname}}</small></td>
                </tr>
                <tr>
                    <td><i class="nb-email format-icon"></i></td>
                    <td><small class="format-txt">&nbsp;&nbsp;{{userContentForm.email}}</small></td>
                </tr>
            </table>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button color="accent" (click)="manageUser()">{{buttonTitle}}</button>
</mat-dialog-actions>