:host ::ng-deep ng2-smart-table table > tbody > tr > td {
    box-sizing: border-box;
    font-size:14px;
}

:host ::ng-deep ng2-smart-table thead > tr > th {
    border: 1px solid #ffffff;
    background-color:#e0e0e0;
}

:host ::ng-deep input[type='color'] {
    border: none;
    width: 32px;
    height: 32px;
}
