<div class="float-right">
    <span class="demo-close" mat-dialog-close>
        <nb-icon icon="close-outline"></nb-icon>
    </span>
</div>
<h2 mat-dialog-title>
    <nb-icon icon="color-picker-outline"></nb-icon> {{title}}
</h2>
<mat-dialog-content class="mat-typography" [nbSpinner]="loading">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                    <mat-label>Rut</mat-label>
                    <input matInput name="rut" [(ngModel)]="patientData.patientId" required>
                    <mat-error *ngIf="!patientData.patientId">Ingrese rut</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                    <mat-label>Nombres</mat-label>
                    <input matInput [(ngModel)]="patientData.firstName" required>
                    <mat-error *ngIf="!patientData.firstName">Ingrese nombre</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                    <mat-label>Apellido Paterno</mat-label>
                    <input matInput [(ngModel)]="patientData.lastName" required>
                    <mat-error *ngIf="!patientData.lastName">Ingrese apellido paterno</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                    <mat-label>Apellido Materno</mat-label>
                    <input matInput [(ngModel)]="patientData.secondSurname">
                    <mat-error *ngIf="!patientData.secondSurname">Ingrese apellido materno</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                    <input matInputAutofocus #customerInput (keyup)="0" matInput placeholder="Centro de diálisis"
                        aria-label="Centro" [matAutocomplete]="auto" [(ngModel)]="selectedCCenter.code"
                        [formControl]="customerCtrl" (keyup.enter)="onEnterFilterCustomer($event)">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option
                            (onSelectionChange)="customerInput.value !=undefined && onEnterFilterCustomer($event)"
                            [value]="customer.code" *ngFor="let customer of filteredCustomer | async">
                            <span>{{ customer.code }} {{customer.description}}</span>
                        </mat-option>

                        <mat-option>
                            {{selectedCCenter.code }} - {{selectedCCenter.description }}
                        </mat-option>

                    </mat-autocomplete>
                    <nb-icon matSuffix icon="search-outline"></nb-icon>

                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="example-full-width" [nbSpinner]=" turnLoader" nbSpinnerSize="tiny">
                    <mat-label>Turno</mat-label>
                    <mat-select (selectionChange)="onSelectedTurn($event)"
                        placeholder="{{selectedTurn.code?'Turno':'Seleccionar'}}" [(ngModel)]="selectedTurn"
                        [disabled]=" disabledTurnSelect">
                        <div *ngIf="selectedTurn.code">
                            <mat-option [value]=selectedTurn>
                                {{selectedTurn.code}}({{selectedTurn.startHour }}-{{selectedTurn.endHour}})
                            </mat-option>
                        </div>
                        <mat-option *ngFor="let turn of turns" [value]="turn">
                            {{turn.code }}({{turn.startHour }}-{{turn.endHour}})
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                    <mat-label>Fecha nacimiento</mat-label>
                    <input matInput [matDatepicker]="pickerBirthdate" name="birthdate"
                        [(ngModel)]="patientData.birthdate" placeholder="Fecha nacimiento" [readonly]="true" required>
                    <mat-datepicker-toggle matSuffix [for]="pickerBirthdate"></mat-datepicker-toggle>
                    <mat-datepicker #pickerBirthdate></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                    <mat-label>Edad</mat-label>
                    <div *ngIf="patientData.birthdate; else notData">
                        <input matInput type="number" name="age" [value]="ageFromBirthdate(patientData.birthdate)"
                            readonly>
                    </div>
                    <ng-template #notData>
                        <input matInput type="number" name="age" readonly>
                    </ng-template>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                    <mat-label>Sexo</mat-label>
                    <mat-select [(ngModel)]="patientData.sex">
                        <mat-option value="M">
                            Masculino
                        </mat-option>
                        <mat-option value="F">
                            Femenino
                        </mat-option>
                        <mat-option value="G">
                            No Definido
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="!patientData.sex">Seleccione sexo</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr class="hr-text" data-content="Demográficos">
            </div>
        </div>
        <div [nbSpinner]="loadingDemos">
            <div class="row">
                <ng-container *ngFor="let demographic of patientData.demographics">
                    <ng-container *ngIf="patientData.demographics && demographic.type==='FREE'">
                        <div class="col-md-4">

                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="{{demographic.description}}"
                                    [(ngModel)]="demographic.value" value="{{demographic.value}}"
                                    [required]="demographic.isRequired===true">
                            </mat-form-field>
                        </div>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="codedDemos.length">
                    <div class="col-md-4" *ngFor="let demographic of codedDemos">
                        <mat-form-field class="example-full-width">
                            <mat-select placeholder="{{demographic.description?demographic.description:'Seleccionar'}}"
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="demographic.selectedDemoItem"
                                (selectionChange)="onSelectedDemographics($event,demographic.selectedDemoItem,demographic)">
                                <mat-option [value]="demographic.selectedDemoItem">
                                    {{demographic.selectedDemoItem.description}}
                                </mat-option>
                                <div *ngFor="let item of demographic.demographicsForChoose">
                                    <mat-option [value]="item">
                                        {{item.description}}
                                    </mat-option>
                                </div>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </ng-container>
                <ng-container *ngIf="filteredCodedDemographics.length">
                    <ng-container *ngFor="let demographic of filteredCodedDemographics">
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <mat-select matInput
                                    placeholder="{{demographic.description?demographic.description:'Seleccionar'}}"
                                    [ngModelOptions]=" {standalone: true}" name="{{demographic.code}}"
                                    [(ngModel)]="demographic.itemId" [required]="demographic.isRequired"
                                    (selectionChange)="attachCodedDemographic($event)">
                                    <mat-option *ngFor="let item of demographic.items" [value]="item">
                                        {{item.description}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="filteredFreeDemographics.length">
                    <ng-container *ngFor="let demographic of filteredFreeDemographics">
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="{{demographic.description}}"
                                    (keyup)="onKeySearch($event,demographic)">
                            </mat-form-field>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>


</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button color="accent" (click)="managePatient()" [disabled]="submited">{{buttonTitle}}</button>
</mat-dialog-actions>