<div class="float-right">
    <span class="demo-close" mat-dialog-close>
        <nb-icon icon="close-outline"></nb-icon>
    </span>
</div>

<h2 mat-dialog-title>
    <nb-icon icon="funnel-outline"></nb-icon> {{title}}
</h2>
<mat-dialog-content class="mat-typography" [nbSpinner]="loading">
    <mat-tab-group>
        <mat-tab label="General">
            <div class="container-fluid tab-header row">
                <div class="offset-md-1 col-md-4">
                    <mat-form-field class="example-full-width">
                        <mat-label>Código</mat-label>
                        <input matInput name="code" [(ngModel)]="testContentForm.code" required>
                        <mat-error *ngIf="!testContentForm.code">Ingrese código</mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Abreviatura</mat-label>
                        <input matInput name="abbreviation" [(ngModel)]="testContentForm.abbreviation" required>
                        <mat-error *ngIf="!testContentForm.abbreviation">Ingrese abreviatura</mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Descripción</mat-label>
                        <input matInput name="description" [(ngModel)]="testContentForm.description" required>
                        <mat-error *ngIf="!testContentForm.description">Ingrese descripción</mat-error>
                    </mat-form-field>
                </div>
                <div class="offset-md-1 col-md-4">
                    <mat-form-field class="example-full-width">
                        <mat-label>Seleccione Contenedor</mat-label>
                        <mat-select [(ngModel)]="testVersionContentForm.tubeId" [ngModelOptions]="{standalone: true}">
                            <mat-option *ngFor="let value of tube" [value]="value.id">
                                {{value.code}} - {{value.description}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Seleccione Unidad</mat-label>
                        <mat-select [(ngModel)]="testVersionContentForm.primaryUnit"
                            [ngModelOptions]="{standalone: true}">
                            <mat-option *ngFor="let unit of primaryUnit" [value]="unit.value">
                                {{unit.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div *ngIf="buttonTitle=='EDITAR'; then statusEnabled"></div>
                    <ng-template #statusEnabled>
                        <mat-slide-toggle class="float-right" [(ngModel)]="testContentForm.status"
                            [ngModelOptions]="{standalone: true}">{{testContentForm.status? 'Activo':'Inactivo'}}
                        </mat-slide-toggle>
                    </ng-template>
                    <section class="example-full-width">
                        <mat-checkbox class="example-full-width" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="testContentForm.isMicro" color="primary">Microbiología</mat-checkbox>
                    </section>
                    <section class="example-full-width">
                        <mat-checkbox class="example-full-width" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="testContentForm.printable" color="primary">Imprimible</mat-checkbox>
                    </section>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Rangos de Referencia" class="tab-header">
            <div class="tab-header">
                <div class="col-md-12">
                    <ng2-smart-table [settings]="rangeTableSettings" [source]="rangeSource"
                        (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onSaveConfirm($event)"
                        (createConfirm)="onCreateConfirm($event)"></ng2-smart-table>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Fórmulas">
            <div class="tab-header">
                <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>Digite Fórmula</mat-label>
                        <input matInput #formula name="formula" [ngModel]="testVersionContentForm.formula | uppercase"
                            (ngModelChange)="testVersionContentForm.formula=$event" [disabled]="!disabledFormula"
                            (keydown.enter)="assignVariables(formula.value)">
                        <mat-hint>Presiona Enter para actualizar!</mat-hint>
                    </mat-form-field><br>&nbsp;
                </div>
                <div class="col-md-6">
                    <mat-slide-toggle [(ngModel)]="testVersionContentForm.formulaVariables"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="disabledFormula">
                        Asignar Variables
                    </mat-slide-toggle><br>&nbsp;
                </div>
                <div *ngIf="showFormulaTable; then tableFormulaEnabled;"></div>
                <ng-template #tableFormulaEnabled>
                    <div class="col-md-12">
                        <ng2-smart-table [settings]="formulaTableSettings" [source]="formulaSource"
                            (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onSaveConfirm($event)"
                            (createConfirm)="onCreateConfirm($event)"></ng2-smart-table>
                    </div>
                </ng-template>
            </div>
        </mat-tab>
        <mat-tab label="Resultados">
            <div class="tab-header">
                <div class="col-md-12">
                    <mat-radio-group layout-align="center center">
                        <mat-radio-button value="auto">Resultado Directo&nbsp;&nbsp;&nbsp;</mat-radio-button>
                        <mat-radio-button value="always">Resultado automático</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="col-md-12">
                    <ckeditor [config]="{ extraPlugins: 'divarea' }"></ckeditor>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button color="accent" (click)="manageTest()">{{buttonTitle}}</button>
</mat-dialog-actions>