<div class="float-right">
    <span class="demo-close" mat-dialog-close>
        <nb-icon icon="close-outline"></nb-icon>
    </span>

</div>
<h2 mat-dialog-title>
    <nb-icon icon="clock-outline"></nb-icon> {{title}}
</h2>
<mat-dialog-content class="mat-typography">
    <mat-form-field class="example-full-width">
        <mat-label>Código</mat-label>
        <input matInput name="code" [(ngModel)]="turnContentForm.code" required>
        <mat-error *ngIf="!turnContentForm.code">Ingrese código</mat-error>
    </mat-form-field>
    <div class="row">
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <mat-label>Hora Inicial</mat-label>
                <input matInput type="time" value="13:37" name="startHour" [(ngModel)]="turnContentForm.startHour"
                    required>
                <mat-error *ngIf="!turnContentForm.startHour">Ingrese hora inicial</mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <mat-label>Hora Final</mat-label>
                <input matInput type="time" value="13:37" name="endHour" [(ngModel)]="turnContentForm.endHour" required>
                <mat-error *ngIf="!turnContentForm.endHour">Ingrese hora final</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div *ngIf="buttonTitle=='EDITAR'; then statusEnabled"></div>
    <ng-template #statusEnabled>
        <mat-slide-toggle class="float-right" [(ngModel)]="turnContentForm.status"
            [ngModelOptions]="{standalone: true}">{{turnContentForm.status? 'Activo':'Inactivo'}}</mat-slide-toggle>
    </ng-template>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button color="accent" (click)="manageTurn()">{{buttonTitle}}</button>
</mat-dialog-actions>