<div class="float-right">
    <span class="demo-close" mat-dialog-close>
        <nb-icon icon="close-outline"></nb-icon>
    </span>

</div>
<h2 mat-dialog-title>
    <nb-icon icon="person-outline"></nb-icon> {{title}}
</h2>
<mat-dialog-content class="mat-typography" [nbSpinner]="loading">
    <div class="row">
        <div class="col-md-4">
            <mat-form-field class="example-full-width">
                <mat-label> Apellido Paterno</mat-label>
                <input matInput name="lastname" [(ngModel)]="alumnContentForm.lastName" required>
                <mat-error *ngIf="!alumnContentForm.lastName">Ingrese apellido paterno</mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="example-full-width">
                <mat-label> Apellido Materno</mat-label>
                <input matInput name="secondSurname" [(ngModel)]="alumnContentForm.secondSurname">
                <mat-error *ngIf="!alumnContentForm.secondSurname">Ingrese apellido materno</mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="example-full-width">
                <mat-label>Nombres Alumno</mat-label>
                <input matInput name="names" [(ngModel)]="alumnContentForm.names" required>
                <mat-error *ngIf="!alumnContentForm.names">Ingrese nombres del alumno</mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field class="example-full-width">
                <mat-label> Run</mat-label>
                <input matInput name="run" [(ngModel)]="alumnContentForm.run">

            </mat-form-field>
        </div>
        <div class="col-md-4" *ngIf="isNewAlumn">
            <mat-form-field class="example-full-width">
                <mat-label>Curso</mat-label>
                <mat-select [(ngModel)]="alumnContentForm.gradeId" [ngModelOptions]="{standalone: true}" required>
                    <mat-option *ngFor="let grade of getData.grades" [value]="grade.id">
                        {{grade.description}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="!alumnContentForm.gradeId">Seleccione curso</mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-4" *ngIf="!isNewAlumn">
            <mat-form-field class="example-full-width">
                <mat-label>Curso</mat-label>
                <mat-select [(ngModel)]="alumnContentForm.gradeId" [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let grade of getData.grades" [value]="grade.id">
                        {{grade.description}}
                    </mat-option>
                    <mat-option [value]=null>
                        Desactivar Alumno
                    </mat-option>
                </mat-select>

            </mat-form-field>
        </div>
        <!-- <div class="col-md-12">

            <ng-template #statusEnabled>
                <mat-slide-toggle class="float-right" [(ngModel)]="alumnContentForm.status"
                    [ngModelOptions]="{standalone: true}"> {{alumnContentForm.status? 'Activo':'Inactivo'}}
                </mat-slide-toggle>
            </ng-template>
        </div> -->
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="accent" (click)="manageAlumn()">{{buttonTitle}}</button>
</mat-dialog-actions>