<div *ngIf="this.redirect.workloadId">
    <div class="pull-right">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a (click)="redirectingWorkload()">Nómina</a></li>
                <li class="breadcrumb-item" aria-current="page">Atenciones</li>
            </ol>
        </nav>
    </div>
</div>
<nb-card>
    <nb-card-header>
        Pacientes
    </nb-card-header>
    <ngx-ui-loader [loaderId]="'patient'"></ngx-ui-loader>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-body>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <input matInputAutofocus #customerInput (keyup)="0" matInput
                                    placeholder="Centro de diálisis" aria-label="Centro" [matAutocomplete]="auto"
                                    [(ngModel)]="cCenter.code" [formControl]="customerCtrl"
                                    (keyup.enter)="onEnterFilterCustomer($event)">
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option
                                        (onSelectionChange)="customerInput.value !=undefined && onEnterFilterCustomer($event)"
                                        [value]="customer.code" *ngFor="let customer of filteredCustomer | async">
                                        <span>{{ customer.code }} {{customer.description}}</span>
                                    </mat-option>
                                </mat-autocomplete>
                                <nb-icon matSuffix icon="search-outline"></nb-icon>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>Turnos</mat-label>
                                <mat-select (selectionChange)="onSelectedTurn($event)" multiple
                                    [disabled]="disabledTurnSelect">
                                    <mat-option *ngFor="let turn of turns" [value]="turn.id">
                                        {{turn.code }}({{turn.startHour }}-{{turn.endHour}})
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>Búsqueda</mat-label>
                                <input matInput placeholder="Buscar" name="searchOrder" [(ngModel)]="queryString"
                                    (keyup.enter)="onEnterFilterPatient($event)">
                                <button mat-icon-button matSuffix (click)="onEnterFilterPatient($event)">
                                    <nb-icon icon="search-outline"></nb-icon>
                                </button>
                            </mat-form-field>
                        </div>

                    </div>
                </nb-card-body>
                <div class="col-md-12" [nbSpinner]="loading">
                    <nb-card-body>
                        <ng2-smart-table [settings]="settings" [source]="patients" #table>
                        </ng2-smart-table>
                    </nb-card-body>
                </div>
            </nb-card>
        </div>
    </div>
</nb-card>