table {
  width: 100%;
}

 button {
  margin: 16px 8px;
 }
//   .mat-row {
//     height: auto;
//   }

 .mat-cell {

   flex:20%;
 }

 .mat-dialog-actions {
  display: flex;
  align-items: center;
  justify-content:flex-end ;
}

.full-width {
 width: 100%;
}
.empty-center {
  text-align: center;
  border: white;
  margin-top: 70px;
}
.empty {
  font-size: 10rem;
  color: #f1f1f1;
}

.empty-center p {
  color: #ddd;
}


.mat-table {
 overflow: visible;

}

.type-number {
  width: 15%;
}



.actions-icon {
font-size: 1.5em;
color: #cccccc;
margin-right: 6px;
&:hover {
  color: #6200ee;
  cursor: pointer;
}
}


.pointer {
cursor: pointer;
}

.ngx-charts-bar-vertical-normalized {

  .XAxisLabel {
    font-size: 60px;
    color: #000000;
    }

}